@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins , sans serif;
}

body{
    background-color: #6666661d;
}

.crd{
    background-color: #fff;
    box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.166);
    border-radius: 2rem;
    overflow: hidden;
}

.hero{
    padding: 1.5%;
    margin-top: 75px;
    display: grid;
    grid-template-areas: "a""b""c";
    gap: 15px;
    overflow: hidden;
}

.lft{
    grid-area: a;
    margin: auto;
}

.rgt{
    grid-area: c;
    margin: auto;
    width: 100%;
}

.mdl{
    grid-area: b;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.wrp{
   max-width: 100%;
}

.card {
    margin-top: 1.8%;
    margin-left: 5px;
    background-color: #fff;
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.166);
}
.card .banner {
    background-image: url("https://images.unsplash.com/photo-1545703549-7bdb1d01b734?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 11rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}
.card .banner svg {
    background-color: #fff;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    border-radius: 50%;
    transform: translateY(50%);
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.card .banner svg:hover {
    transform: translateY(50%) scale(1.3);
}
.card .menu {
    width: 100%;
    height: 5.5rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    box-sizing: border-box;
}
.card .menu .opener {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    border-radius: 50%;
    transition: background-color 100ms ease-in-out;
}
.card .menu .opener:hover {
    background-color: #f2f2f2;
}
.card .menu .opener span {
    background-color: #404040;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0;
    left: calc(50% - 0.2rem);
    border-radius: 50%;
}
.card .menu .opener span:nth-child(1) {
    top: 0.45rem;
}
.card .menu .opener span:nth-child(2) {
    top: 1.05rem;
}
.card .menu .opener span:nth-child(3) {
    top: 1.65rem;
}
.card h2.name {
    text-align: center;
    padding: 0 2rem 0rem;
    margin: 0;
}
.card .title {
    line-height: 30px;
    color: #a0a0a0;
    font-size: 0.85rem;
    text-align: center;
    padding: 0 2rem 0rem;
}
.card .actions {

    padding: 0 2rem 1.2rem;
    display: flex;
    flex-direction: column;
    order: 99;
}
.card .actions .follow-info {
    display: flex;
}
.card .actions .follow-info h2 {
    text-align: center;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}
.card .actions .follow-info h2 a {
    text-decoration: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    transition: background-color 100ms ease-in-out;
}
.card .actions .follow-info h2 a span {
    line-height: 20px;
    color: #1c9eff;
    font-weight: bold;
    transform-origin: bottom;
    transform: scaleY(1.3);
    transition: color 100ms ease-in-out;
}
.card .actions .follow-info h2 a small {
    color: #afafaf;
    font-size: 0.85rem;
    font-weight: normal;
}
.card .actions .follow-info h2 a:hover {
    background-color: #f2f2f2;
}
.card .actions .follow-info h2 a:hover span {
    color: #007ad6;
}
.card .actions .follow-btn button {
    color: white;
    font: inherit;
    font-weight: bold;
    background-color: #1da1f2;
    width: 100%;
    border: none;
    padding: 1rem;
    outline: none;
    box-sizing: border-box;
    border-radius: 1.5rem/50%;
    transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.card .actions .follow-btn button:hover {
    background-color: #0d8ddf;;
    transform: scale(1.03);
}
.card .actions .follow-btn button:active {
    background-color: #1da1f2;
    transform: scale(1);
}
.card .desc {
    text-align: justify;
    padding: 0 2rem 2.5rem;
    order: 100;
}

.todo-container {
    margin-top: 1.8%;
    width: 100%;
    padding: 20px;
}

.todo-container h1 {
    text-align: center;
    color: #333;
}

.todo-input {
    display: flex;
    margin-bottom: 20px;
}

.todo-input input {
    flex: 1;
    height: 35px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 12px;
}

.todo-input button {
    padding: 6px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin-left: 5px;
}

.todo-input button:hover {
    background-color: #0d8ddf;
}

.todo-container ul {
    list-style: none;
    padding: 0;
}

.todo-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.todo-container li.completed span {
    text-decoration: line-through;
    color: #aaa;
}

.todo-container button.delete-btn {
    background-color: #e0245e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.todo-container button.delete-btn:hover {
    background-color: #c21b48;
}

.todo-container input[type="checkbox"] {
    cursor: pointer;
}

.post-container {
    margin-top: 1.5%;
    padding: 20px;
    width: 100%;
    height: 110px;
    text-align: center;
}

.post-container h2 {
    margin-bottom: 20px;
}

.post-container textarea {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 18px;
    resize: none;
}

.post-container textarea::-webkit-scrollbar{
    display: none;
}

.post-container button {
    padding: 7px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.feed-container {
    margin-top: 1.5%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-content {
    flex: 1;
    padding-left: 15px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.username {
    font-weight: bold;
}

.post-time {
    color: #aaa;
}

.post-footer {
    margin-top: 10px;
}

.like-button {
    background-color: transparent;
    border: none;
    color: #e0245e;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.like-button .like-icon {
    margin-right: 5px;
}

.like-button:hover {
    opacity: 0.8;
}

.like-button:focus {
    outline: none;
}

#load-more-btn {
    margin-top: 9px;
    padding: 10px 20px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#load-more-btn:hover {
    background-color: #0d8ddf;
}

.progress-section {
    margin-top: 3%;
    padding: 20px;
}

.progress-section h1 {
    text-align: center;
    color: #333;
}

.top{
    margin-bottom: 3%;
}

.task {
    display: flex; /* Align items horizontally */
    align-items: center; /* Vertically align items in the center */
    margin-bottom: 20px;
}

.task-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px; /* Space between image and progress bar */
}

progress {
    width: 100%; /* Full width of the container */
    height: 20px; /* Height of the progress bar */
    align-self: center; /* Center align progress bar vertically */
}

progress[value] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0; /* Background color of the bar */
    border-radius: 10px; /* Rounded corners for the bar */
}

progress::-webkit-progress-value {
    background-color: #1da1f2; /* Color of the filled part */
    border-radius: 10px; /* Rounded corners for the filled part */
}

progress::-moz-progress-bar {
    background-color: #1da1f2; /* Color of the filled part */
    border-radius: 10px; /* Rounded corners for the filled part */
}

/*----------------------------------------------------------------- responsiveness ----------------------------------------------------------------------*/
/* xs */
@media (min-width: 475px) {} 

/* sm */
@media (min-width: 640px) {} 

/* md */
@media (min-width: 768px) {

    .hero{
        grid-template-areas:"a c" "b b" ;
        grid-template-columns: 1fr 1fr;
    }

    .lft{
        margin: 0;
    }
    
    .rgt{
        margin: 0;
    }

    .mdl{
        margin: 0;
    }

    
} 

/* lg */
@media (min-width: 1024px) {

    .hero{
        grid-template-areas:"a b c" ;
    }
} 

/* xl */
@media (min-width: 1280px) {
    .hero{
        grid-template-columns: auto;
    }
} 

/* 2xl */
@media (min-width: 1536px) {} 